*{
  box-sizing: border-box;
}

body {
    background-image: url("../img/backgroundBody.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

/* Header */

header {
    padding: 20px;
}

header img{
  margin-right: auto;
}

.gridContainerHeader{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 35px);
  gap: 5px;
}

.gridItemLogo{
  grid-column: 1 / 2 ;
  justify-items: start;
}

.gridItemEnca{
  grid-row: 1 / 2 ;
  grid-column: 2 / 6;
  align-items: start;
}

.gridItemMenu{
  grid-row: 4 / 4;
  grid-column: 2 / 6;
}

.logoCronicas{
  width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/*Footer*/
footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-image: url("../img/backgroundBody.jpg");
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  bottom: 0px;
}

.footer p {
  margin: 0;
  margin-bottom: 5px 0;
}

.footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.footer ul li {
  margin-right: 15px;
}

.footer ul li a {
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}


.tamañoImagenes {
    width: 150px;
}

.enlacesRedes{
    list-style-type: none;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
    display: inline;
}


ul {
    list-style-type: none;
    padding-left: 0; 
  }


    /* Pagina de Contacto*/
    
  .contact-section {
    display: flex;
    justify-content: space-between;
    gap: 100px; 
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-item img {
    width: 80px; 
    height: 80px;
  }
  
  .contact-item a {
    color: #333;
    text-decoration: none;
  }
  
  .contact-item a:hover {
    color: #000;
  }
  
  .contact-form {
    flex: 1;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;

  }
  
  .contact-form button {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }


  /*Relatos Inicio*/

  .gridContainerRelatos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, 50px);
    grid-template-areas: 
    "imagen titulo . ."
    "imagen texto . ."
    "imagen texto . ."
    "imagen . . ."
  }

  .gridItem.textoRelato{
    grid-column: 2 / 3;
    grid-area: texto;
  }

  .gridItem.tituloRelato{
    grid-area: titulo;
  }

  .gridItem.imagenRelatos{
    grid-area: imagen;
  }

  /*Reflexiones Inicio*/

  .gridContainerReflexiones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 50px);
    grid-template-areas:
    "imagen titulo . ."
    "imagen texto . ."
    "imagen texto . ."
    "imagen . . .";
  }
  .gridItem.textoReflexion{
    grid-column: 2 / 3;
  }

  .reflexionesInicio{
    border-top: 2px solid #1f1f1f;
  }

  .relatosInicio{
    border-top: 2px solid #1f1f1f;
  }

  .imagenSobreMi {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin-top: 20px;
  }

  .header-top {
      flex-direction: column;
      align-items: center;
  }

  .divEncabezado {
      text-align: center;
      margin-top: 10px;
  }

  .header h1 {
      font-size: 1.5rem; 
      word-wrap: break-word;
  }

  .header h2 {
      font-size: 1rem;
  }

  .divMenu nav ul {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
  }

  .divMenu nav ul li {
      display: inline-block;
      margin: 5px 10px;
  }

  .relatosInicio, .reflexionesInicio {
      padding: 10px;
  }

  .gridContainerRelatos, .gridContainerReflexiones {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .gridItem {
      width: 100%;
      margin-bottom: 10px;
  }

  .sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro */
}

.tituloSobreMi {
    text-align: center;
    margin-bottom: 10px; /* Espacio debajo del título */
}

.imagenSobreMi {
    width: 80%; /* Ajusta el tamaño de la imagen */
    margin-bottom: 20px; /* Añade espacio debajo de la imagen */
}

.textoSobreMi {
    text-align: justify;
    margin: 10px;
}
}

/* Media queries para tablets */
@media (min-width: 769px) and (max-width: 1064px) {
  header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .header-top {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }

  .divEncabezado {
      text-align: center;
      margin-left: 10px;
  }

  .divMenu nav ul {
      text-align: left;
  }

  .divMenu nav ul li {
      display: inline;
      margin-right: 10px;
  }

  .relatosInicio, .reflexionesInicio {
      padding: 20px;
  }

  .gridContainerRelatos, .gridContainerReflexiones {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  .gridItem {
      width: 100%;
      margin-bottom: 20px;
  }

  .sobreMi {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinea los elementos al inicio */
}

.imagenSobreMi {
    width: 40%; /* Ajusta el tamaño de la imagen */
    margin-right: 20px; /* Añade espacio a la derecha de la imagen */
}

.textoSobreMi {
    text-align: justify;
    margin-left: 20px; /* Añade espacio a la izquierda del texto */
}
}

